.button{
    cursor: pointer !important;
    background-color: black;
    font-weight: bold;
    color: white !important;
    border: 0 none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 5px 5px 10px;
}
.nomeMateria{
    font-weight: bold;
    border: 0 none;
    margin: 5px;
}
table{
    width: 100%;
    background-color: white ;
    max-width: 1500px;
    margin-inline: auto;
}
.tablestyle{
    margin: 10px;
    background-color:#94A3B5 ;
    justify-content: center;
}
th.mat-sort-header-sorted {
    color: black;
}
.styleFilter{
    width: 250px;
    padding: 0 5px;
}
.mat-column-name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 23% !important;
    width: 23% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-actions {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    width: 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.sideBar{
    min-width: 200px;
}

.botaoEditar{
    color: black;
    cursor: pointer;
}

.notaAceita{
    background-color: #73e2a7 !important;
}
.notaRejeitada{
    background-color: #c96480 !important;
}
