<div>
    <h1 style="text-align: center; margin-top: 5px;">Espaço do Professor</h1>
</div>
<div style="background-color: white; margin: 10px; border-radius: 10px; padding: 5px;">
    <form [formGroup]="formTia" (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
            <mat-label>Tia Professor:</mat-label>
            <input formControlName="tiaProfessor" matInput placeholder="Tia do Professor">
            <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
            <mat-error *ngIf="formTia.invalid">
                Campo deve conter 8 dígitos!
            </mat-error>
        </mat-form-field>
        <input [disabled]="formTia.invalid" [class.disabled]="formTia.invalid" type="submit"
            style="margin:5px 0px 20px 10px; " class="btn btn-dark mt-4" value="Chamar Api">
    </form>
</div>

<hr>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <div class="sideBar">
            <mat-selection-list #materia [multiple]="false">
                <mat-list-option *ngFor="let materia of selecaoDeMaterias" [value]="materia._id"
                    (click)="selecionarMateria(materia.nomeMateria, materia._id)">
                    {{materia.nomeMateria}}
                </mat-list-option>
            </mat-selection-list>
        </div>
    </mat-drawer>

    <div class="example-sidenav-content">
        <button class="button" type="button" mat-button (click)="drawer.toggle(); trocarNomeEsconderMostrarMaterias()">
            {{esconderMostrarMaterias}} Máterias
        </button>
        <div>
            <h2 style="justify-content: center; display: grid;">{{nomeMateriaSelecionada}}</h2>
        </div>
    </div>

    <div class="tablestyle">
        <mat-form-field class="styleFilter" appearance="standard">
            <mat-label>Filtro:</mat-label>
            <input style="width: 100px;" matInput (keyup)="applyFilter($event)" #input>
        </mat-form-field>

        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

            <!-- Position Column -->
            <ng-container matColumnDef="nomeAluno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome Aluno </th>
                <td mat-cell *matCellDef="let element"> {{element.nomeAluno}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="tiaAluno">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Tia </th>
                <td mat-cell *matCellDef="let element"> {{element.tiaAluno}} </td>
            </ng-container>

            <!-- Nota A -->
            <ng-container matColumnDef="notaA">
                <th mat-header-cell *matHeaderCellDef> A </th>
                <td mat-cell *matCellDef="let element"> {{element.nota.notaA}} </td>
            </ng-container>

            <!-- Nota B -->
            <ng-container matColumnDef="notaB">
                <th mat-header-cell *matHeaderCellDef> B </th>
                <td mat-cell *matCellDef="let element"> {{element.nota.notaB}} </td>
            </ng-container>

            <!-- Nota C -->
            <ng-container matColumnDef="notaC">
                <th mat-header-cell *matHeaderCellDef> C </th>
                <td mat-cell *matCellDef="let element"> {{element.nota.notaC}} </td>
            </ng-container>

            <!-- Nota D -->
            <ng-container matColumnDef="notaD">
                <th mat-header-cell *matHeaderCellDef> D </th>
                <td mat-cell *matCellDef="let element"> {{element.nota.notaD}} </td>
            </ng-container>

            <!-- Nota Final -->
            <ng-container matColumnDef="notaFinal">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Nota Final </th>
                <td mat-cell *matCellDef="let element"> {{element.notaFinal}} </td>
            </ng-container>

            <!-- Actions -->
            <ng-container matColumnDef="actions" stickyEnd>
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element">
                    <mat-icon class="botaoEditar" (click)="openDialogAlteracao(element)">
                        edit
                    </mat-icon>
                    <p style="display: inline; padding: 5px; margin-bottom: 10px;" *ngIf="element.nota.status == 'R'">
                        <strong>Contestação do Aluno:</strong> {{element.nota.textoContestacao}}</p>
                    <mat-icon *ngIf="element.nota.status == 'R'" class="botaoEditar"
                        (click)="validarContestacaoAluno(element)">
                        description
                    </mat-icon>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr [ngClass]="{'notaRejeitada': row.nota.status == 'R', 'notaAceita': row.nota.status == 'A'}" mat-row
                *matRowDef="let row; columns: displayedColumns;"></tr>

        </table>
        <mat-paginator style="background-color:#94A3B5" showFirstLastButtons [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
    </div>
</mat-drawer-container>